Landscape-Client==14.12
PAM==0.4.2
Twisted-Core==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
html5lib==0.999
pbr==0.10.8
pyOpenSSL==0.13
pymongo==2.8
pyserial==2.6
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
requests==2.2.1
six==1.9.0
ssh-import-id==3.21
stevedore==1.4.0
urllib3==1.24.2
virtualenv==12.1.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.5.0
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
